# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# PDM
.pdm-python
.pdm.toml
.pdm-build/
__pypackages__/
pdm.lock

# Poetry
poetry.lock

# Jupyter
.ipynb_checkpoints/

# Logs / Runtime files
*.log
*.tmp
*.swp
log_*.err
log_*.out

# Mypy / Pytest / Coverage
.mypy_cache/
.pytest_cache/
.coverage
.cache
coverage.xml

# Ruff
.ruff_cache/

# PyCharm / JetBrains
.idea/

# Audio & media files
*.wav
*.mp3
*.mp4
*.ogg
earnings21/media/
earnings21/media_by_speaker/
earnings21/wav/

# OpenSMILE output
opensmile/build/
*.lld
*.arff
*.htk
*.nlp
*.norm.json
*.wer_tag.json

# Feature extraction outputs
features/acoustic/*.csv
features/llds_by_speaker/
features/fused_segments/
features/semantic/finbert_sentiment.json
